<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login to TMS</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-field-container">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="text" />
            <mat-error *ngIf="f['email'].errors?.['required']">
              Email is required
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" />
            <mat-error *ngIf="f['password'].errors?.['required']">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>

        <div *ngIf="error" class="error-message">
          {{ error }}
        </div>

        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid || loading"
            class="login-button">
            <mat-spinner *ngIf="loading" [diameter]="24" class="spinner"></mat-spinner>
            <span *ngIf="!loading">Login</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>